{% extends 'base.html' %}

{% block title %}
    Perfil de {{ user.username }}
{% endblock title %}

{% block contenido %}
	{% if messages %}
        <div class="messages" style="background-color:#83e965">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

	<h1>Perfil de {{ user.username }}:</h1>

	{% if user.cliente %}
		<p>Nombre: {{user.first_name}}</p>
		<p>Apellido: {{user.last_name}}</p>
		<p>Cédula: {{user.cliente.ci}}</p>
		<p>Fecha de nacimiento: {{user.cliente.fecha_nacimiento}}</p>
		<p>Correo Electrónico: {{user.email}}</p>
		<p>Teléfono: {{user.cliente.telefono}}</p>
	{% elif user.proveedor %}
		<p>Nombre: {{user.first_name}}</p>
		<p>RIF: {{user.proveedor.rif}}</p>
		<p>Correo Electrónico: {{user.email}}</p>
		<p>Teléfono: {{user.proveedor.telefono}}</p>
		<p>Dirección: {{user.proveedor.direccion}}</p>
	{% endif %}
{% endblock %}
