{% extends 'base.html' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block contenido %}
	{% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h1>Bienvenido {{user.first_name}}.</h1>
    
    <div class="col-md-4">
    {% if user.billetera %}
            <h2>Billetera</h2>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="{% url 'consultar_saldo' %}" role="button">Consultar saldo</a>
                </li>

                <li role="presentation">
                    <a href="{% url 'recargar_saldo' %}" role="button">Recargar</a>
                </li>
            </ul>
    {% else %}
        <a class="btn btn-md btn-info" id="crear_billetera_button" href="{% url 'crear_billetera' %}" role="button">Crear Billetera</a>
    {% endif %}
        <a id="realizar_pedido" class="btn btn-md btn-success" href="{% url 'realizar_pedido' %}" role="button">Realizar pedido</a>
    </div>
{% endblock %}
