{% extends 'base.html' %}

{% block title %}
    Perfil de {{ user.username }}
{% endblock title %}

{% block contenido %}
	{% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

	<h1>Perfil de {{ user.username }}:</h1>

    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Cédula: {{user.cliente.ci}}</p>
    <p>Correo Electrónico: {{user.email}}</p>
    <p>Teléfono: {{user.cliente.telefono}}</p>
    <p>Sexo: {{user.cliente.sexo}}</p>
    <p>Fecha de nacimiento: {{user.cliente.fecha_nacimiento}}</p>
	<div class="divider"/>
	<a class="btn-link" href="{% url 'editar_perfil_cliente' %}" role="button">Modificar datos</a>
{% endblock %}
