{% extends 'registro/base.html' %}

{% block title %}
    Log In
{% endblock %}

{% block contenido %}
    <h1>Ingrese sus datos:</h1>
    {% if form.errors %}
        <p>Su usuario y/o contraseña son incorrectos. Intente de nuevo.</p>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_username">Usuario:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Contraseña:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Entrar" />
        <input type="hidden" name="next" value="/home/" />
    </form>
    <p>
      <a class="btn btn-lg btn-primary" href="/registro/registroCliente" role="button">Regístrese como cliente &raquo;</a>
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="/registro/registroProveedor" role="button">Regístrese como proveedor &raquo;</a>
    </p>
{% endblock %}
