<h1>Regístrese</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form>
	Nombre:<br>
	<input type="text" name="nombre"><br>
	Apellido:<br>
	<input type="text" name="apellido"><br>
	Cedula:<br>
	<input type="text" name="cedula"><br>
	Telefono:<br>
	<input type="text" name="telefono"><br>
	Fecha de nacimiento:<br>
	<input type="text" name="fecha_nacimiento"><br>
	Sexo:<br>
	<input type="text" name="sexo"><br>
	Correo electronico:<br>
	<input type="text" name="email"><br>
	Contraseña:<br>
	<input type="text" name="contraseña"><br>
	Repita Contraseña:<br>
	<input type="text" name="contraseña2"><br>
	
</form>

