{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    {% if user.cliente %}
        Registro Cliente
    {% else %}
        Registro Proveedor
    {% endif %}
{% endblock %}

{% block head %}
    <link href="{% static 'registro/css/registro.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block contenido %}
    <h1>Ingrese sus datos:</h1>

    <div class="row container">
        <div class="col-md-6">
            {% crispy form form.helper %}
        </div>
    </div>

{% endblock %}
