{% extends 'base.html' %}

{% block title %}
    Datos de {{ proveedor.usuario.username }}:
{% endblock title %}

{% block contenido %}
    {% include 'administrador/nav_admin.html' %}

    <div class="col-md-9">
    {% if proveedor %}
        <h1>Datos de {{ proveedor.usuario.username }}</h1>

        <p id="nombre"><b>Nombre:</b> {{proveedor.usuario.first_name}}</p>
        <p id="rif"><b>RIF:</b> {{proveedor.rif}}</p>
        <p id="direccion"><b>Dirección:</b> {{proveedor.direccion}}</p>
        <p id="email"><b>Correo electrónico:</b> {{proveedor.usuario.email}}</p>
        <p id="telefono"><b>Teléfono:</b> {{proveedor.telefono}}</p>
        <p id="fecha_registro"><b>Fecha de registro:</b> {{proveedor.usuario.date_joined|date:'d/m/Y'}}</p>

        <h3>Inventario:</h3>
        <table class='table table-hover'>
            <tr>
                <th>Ingrediente </th>
                <th>Precio</th>
            </tr>
            {% for ingrediente in inventario %}
                <tr>
                    <td>{{ ingrediente.ingrediente.nombre }}</td>
                    <td>{{ ingrediente.precio }}</td>
                </tr>
            {% endfor %}
        </table> 
    {% endif %}
    <div class="divider"/>
    <a id="boton_regresar" class="btn btn-info" href="{% url 'ver_proveedores' %}" role="button">Regresar a la lista de proveedores</a>
</div>
{% endblock %}