{% extends 'base.html' %}

{% block title %}
    Datos de {{ menu.nombre }}:
{% endblock title %}

{% block contenido %}
    {% include 'administrador/nav_admin.html' %}

    <div class="col-md-9">
    {% if menu %}
        <h1>{{ menu.nombre }}</h1>
        <h3>Actual:
            {% if menu.actual %} 
                <span style="color:#64bb33">{{menu.actual}}</span>
            {% else %}
                <span style="color:#c20a0a">{{menu.actual}}</span>
            {% endif %} 
        </h3>

        <table id="tabla_platos" class="table table-condensed">
            <thead>
                <tr>
                    <th width="15%">Plato</th>
                    <th width="30%">Descripción</th>
                    <th width="30%">Precio</th>
                </tr>
            </thead>

            <tbody>
                {% for plato in menu.incluye.all %}
                    <tr>
                        <td>{{plato.nombre}}</td>
                        <td>{{plato.descripcion}}</td>
                        <td>{{plato.precio}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <a id="boton_regresar" class="btn btn-info" href="{% url 'editar_menu' menu.nombre %}" >Editar menú</a>
    {% endif %}
        <a id="boton_regresar" class="btn btn-default" href="{% url 'ver_menus' %}" role="button">Regresar a la lista de menús</a>
    </div>
{% endblock %}