{% extends 'base.html' %}

{% block title %}
    Datos de {{ proveedor.usuario.username }}:
{% endblock title %}

{% block contenido %}
    {% include 'administrador/nav_admin.html' %}

    <div class="col-md-9">
    {% if proveedor %}
        <h1>Datos de {{ proveedor.usuario.username }}</h1>

        <p id="nombre">Nombre: {{proveedor.usuario.first_name}}</p>
        <p id="apellido">Apellido: {{proveedor.usuario.last_name}}</p>
        <p id="cedula">Cédula: {{proveedor.ci}}</p>
        <p id="email">Correo electrónico: {{proveedor.usuario.email}}</p>
        <p id="telefono">Teléfono: {{proveedor.telefono}}</p>
        <p id="sexo">Sexo: {{proveedor.sexo}}</p>
        <p id="fecha_nacimiento">Fecha de nacimiento: {{proveedor.fecha_nacimiento|date:'d/m/Y'}}</p>
        <p id="fecha_registro">Fecha de registro: {{proveedor.usuario.date_joined|date:'d/m/Y'}}</p>
    {% endif %}
    <div class="divider"/>
    <a id="boton_regresar" class="btn btn-info" href="{% url 'ver_proveedores' %}" role="button">Regresar a la lista de proveedores</a>
</div>
{% endblock %}