{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    Crear Plato
{% endblock %}

{% block head %}
    <link href="{% static 'home/css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block contenido %}
    <h1>Ingrese la cantidad requerida de cada ingrediente:</h1>

    <div class="row">
        <div class="col-md-7">
            <form action="{% url 'detalles_ingredientes_plato' %}" method="post">
                {% csrf_token %}
                {% crispy formset helper %}
                <input type="submit" class="btn btn-success" value="Guardar ingredientes">
            </form>
        </div>
    </div>

{% endblock %}