{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
    Adiministrador Restaurante - Editar Menú
{% endblock %}

{% block head %}
    <link href="{% static 'administrador/css/forms.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block contenido %}
    {% include 'administrador/nav_admin.html' %}

    <h2>Editar campos:</h2>

    {% if menu %}
            <div class="col-md-4">
                <form id="menu_form" role="form" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-info" value="Guardar cambios">
                    <a href="{% url 'detalles_menu' menu.nombre %}" class="btn btn-default" role="button">Cancelar</a>
                </form>
        
                <div class="row">
                    <a class="btn" style="color:green" href="#" role="button">+ Agregar plato al menú</a>
                </div>

                <div class="row">
                    <a class="btn" style="color:red" href="#" role="button">- Eliminar plato del menú</a>
                </div>
            </div>

    {% endif %}
{% endblock %}
