{% extends 'base.html' %}

{% block title %}
    Adiministrador Restaurante
{% endblock %}

{% block contenido %}
    <h1>Bienvenido a la administración del restaurante.</h1>

    {% if messages %}
        <div class="messages" style="background-color:#83e965">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <a class="btn btn-lg btn-link" href="{% url 'ver_menus' %}" role="button">Ver menús</a>
            </div>

            <div class="row">
                <a class="btn btn-lg btn-link" href="{% url 'crear_menu' %}" role="button">Crear menú</a>
            </div>
            
            <div class="row">
                <a class="btn btn-lg btn-link" href="{% url 'crear_plato' %}" role="button">Crear plato</a>
            </div>
            
            <div class="row">
                <a class="btn btn-lg btn-link" href="{% url 'agregar_ingrediente' %}" role="button">Agregar ingrediente</a>
            </div>

            <div class="row">
                <a class="btn btn-lg btn-link" href="{% url 'ver_clientes' %}" role="button">Ver clientes registrados</a>
            </div>
        </div>

        <div class="col-md-6" style="background-color:ffffff">
            {% if menu_actual %}
                <h2>Menú actual: <span style="color:#69cf2f">{{menu_actual.nombre}}</span></h2>
                <h3>Platos:</h3>
                <ul>
                    {% for plato in menu_actual.incluye.all %}
                        <li>{{plato.nombre}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
