{% extends 'base.html' %}

{% block title %}
    Adiministrador Restaurante
{% endblock %}

{% block contenido %}
    <h1>Bienvenido a la administración del restaurante.</h1>

    {% if messages %}
        <div class="messages" style="background-color:#83e965">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <a class="btn btn-lg btn-link" id="crear_menu_button" href="{% url 'crear_menu' %}" role="button">Crear menú</a>
    </div>
    
    <div class="row">
        <a class="btn btn-lg btn-link" id="crear_menu_button" href="{% url 'crear_plato' %}" role="button">Crear plato</a>
    </div>
    
    <div class="row">
        <a class="btn btn-lg btn-link" id="crear_menu_button" href="{% url 'agregar_ingrediente' %}" role="button">Agregar ingrediente</a>
    </div>

    <div class="row">
        <a class="btn btn-lg btn-link" id="ver_clientes_button" href="{% url 'ver_clientes' %}" role="button">Ver clientes registrados</a>
    </div>
{% endblock %}
