{% extends 'base.html' %}

{% block title %}
    Adiministrador Restaurante - Ver Clientes
{% endblock %}

{% block contenido %}
    <h1>Clientes registrados:</h1>
    <table id="tabla_clientes" class='table table-hover'>
        <tr>
            <th>Nombre de usuario</th>
            <th>Fecha de registro</th>
        </tr>
        {% for cliente in clientes %}
            <tr>
                <td>
                    <a id="{{cliente.usuario.username}}" class="btn-link" href="{% url 'detalles_cliente' cliente.usuario.username %}">
                        {{ cliente.usuario.username }}
                    </a>
                </td>
                <td>{{ cliente.usuario.date_joined|date:'d/m/Y' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}