{% extends 'base.html' %}

{% block title %}
    Adiministrador Restaurante - Ver Menús
{% endblock %}

{% block contenido %}
    <h1>Menús en el sistema:</h1>
    <table id="tabla_menus" class='table table-hover'>
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>

        <tbody>
            {% for menu in menus %}
                {% if menu.actual %}
                    <tr class="success">
                {% else %}
                    <tr>
                {% endif %}
                    <td>
                        <a id="{{menu.nombre}}" class="btn-link" href="{% url 'detalles_menu' menu.nombre %}">
                            {{ menu.nombre }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-lg btn-link" href="{% url 'home_administrador' %}" role="button">Regresar a la página principal</a>
    </div>
{% endblock %}