{% extends 'base.html' %}

{% block title %}
    Adiministrador Restaurante - Ver Ingredientes
{% endblock %}

{% block contenido %}
    {% include 'administrador/nav_admin.html' %}

    <div class="col-md-9">
        <h1>Ingredientes:</h1>
        <table id="tabla_clientes" class='table table-hover'>
            <tr>
                <th>Nombre del Ingrediente </th>
            </tr>
            {% for ingrediente in ingredientes %}
                <tr>
                    <td>
                        
                        {{ ingrediente.nombre }}
                        
                    </td>
                </tr>
            {% endfor %}
        </table>    
    </div>
{% endblock %}