{% extends 'base.html' %}

{% block title %}
    Adiministrador Restaurante - Ver Platos
{% endblock %}

{% block contenido %}
    {% include 'administrador/nav_admin.html' %}

    <div class="col-md-9">
        <h1>Platos:</h1>
        <table id="tabla_clientes" class='table table-hover'>
            <tr>
                <th>Nombre del Plato </th>
                <th>Descripción </th>
                <th>Precio </th>
                <th>Disponible </th>
            </tr>
            {% for plato in platos %}
                <tr>
                    <td>
                        <a id="{{plato.nombre}}" class="btn-link" href="{% url 'detalles_plato1' plato.nombre %}">{{ plato.nombre }}</a>
                    </td>
                    <td>{{ plato.descripcion }}</td>
                    <td>{{ plato.precio }}</td>
                    <td>
                        {% if plato.disponible %}
                            <span style="color:#64bb33">Si</span>
                        {% else %}
                            <span style="color:#c20a0a">No</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Haga click el plato para ver los ingredientes.</p>    
    </div>
{% endblock %}