db.sqlite3
AutomatizacionRestaurante/__pycache__
*.pyc
administrador/__pycache__
cliente/__pycache__
cuentas/__pycache__
proveedor/__pycache__
.settings/
administrador/__pycache__
administrador/__pycache__/*
administrador/migrations/__pycache__/*
cliente/migrations/__pycache__/*
cuentas/migrations/__pycache__/*
administrador/migrations/__pycache__/*
cuentas/__pycache__/admin.cpython-34.pyc cuentas/__pycache__/apps.cpython-34.pyc cuentas/__pycache__/forms.cpython-34.pyc cuentas/__pycache__/__init__.cpython-34.pyc cuentas/__pycache__/models.cpython-34.pyc cuentas/__pycache__/tests.cpython-34.pyc cuentas/__pycache__/urls.cpython-34.pyc cuentas/__pycache__/views.cpython-34.pyc
administrador/migrations/
cliente/migrations/
cuentas/migrations/
proveedor/migrations/
administrador/migrations/0001_initial.py administrador/migrations/__init__.py administrador/migrations/__pycache__
proveedor/migrations/0001_initial.py proveedor/migrations/__init__.py proveedor/migrations/__pycache__
cliente/migrations/0001_initial.py cliente/migrations/__init__.py cliente/migrations/__pycache__
cuentas/migrations/*
AutomatizacionRestaurante/migrations/*
